@import 'nib'

html
  padding: 0
  margin: 0

body
  position: relative
  font-family: Open Sans, sans-serif
  font-weight: normal
  font-size: 1em
  margin: 0
  padding: 0 0 2em 0
  box-sizing: border-box

aside-width = 300px
aside-width-print = 200px
aside-padding = 15px

section
  margin: 0 0 2em 0

body:after
  position: absolute
  top: 0
  left: 0
  width: aside-width
  height: 100%
  content: ''
  background-color: #e2e2e9
  z-index: -1

h1, h2, h3, h4, h5, h6
  font-family: Open Sans, sans-serif
  font-weight: 300
  margin: 0

.section-header
  position: relative
  width: 100%
  text-align: left
  padding: 0 aside-padding
  color: #A05000
  box-sizing: border-box

header
  position: absolute
  width: aside-width
  text-align: right
  padding: 0 aside-padding 0 0
  color: #555
  font-family: PT Sans, sans-serif
  font-weight: 400
  box-sizing: border-box

.content
  position: relative
  margin-left: aside-width
  padding: 0 0 0 aside-padding
  font-family: PT Sans, Open Sans, sans-serif
  font-weight: 400
  max-width: 700px

.sub-section
  margin: 0.3em 0

.title
  font-size: 2em
  margin-left: aside-width
  padding: 0.7em aside-padding
  font-family: PT Sans, sans-serif

.position
  font-size: 0.7em

.desc
  font-size: 0.9em
  padding-top: 0.3em
  color: #333

.btn
  padding: 0.3em 1em
  background-color: rgba(0,0,0, .1)
  color: #555
  font-family: PT Sans, Helvetica, Arial, sans-serif
  cursor: pointer

.btn:hover
  background-color: #3383B8
  color: white

.btn:active
  background-color: darken(#3383B8, 30%)

.actions
  position: absolute
  top: 0
  right: 0
  margin: 3em 0em
  padding: 0 2em
  width: aside-width
  text-align: right
  box-sizing: border-box

.actions a
  text-decoration: none

.sub-section
  page-break-inside: avoid

.divider
  margin: 30px

.summary
  margin-top: 20px
  margin-bottom: 20px
  font-family: 'Open Sans', sans-serif

@media screen and (max-width: 880px)
  .actions
    right: auto
    left: 0

@media print
  body
    padding: 0

  body:after
    display: none

  section
    margin: 0 0 1em 0

  .section-header
    padding: 0 10px
    border-bottom: 1px solid #999
    color: black

  .content
    margin-left: aside-width-print
    padding: 0 0 0 10px

  header
    width: aside-width-print
    padding: 0 10px 0 0
    color: darken(#1BA1E2, 40%)

  .title
    border: none
    margin-left: 0
    text-align: center

  a
    color: black
    text-decoration: none

  a[href]:not(.no-print-href):after
    content: " (" attr(href) ")"

  .actions
    display: none

  .summary
    margin: 20px 40px